.big-hero-container {
	display: flex;
	flex-direction: column;
}

.info-panel {
	position: relative;
	display: flex;
	flex-direction: column;
}

.hero-big-picture-container {
	max-height: 50vh;
}

.big-hero-picture {
	height: 100%;
  width: 100%;
  object-fit: fill;
}

.hero-big-info-container {
	position: absolute;
	right: 0;
	left: 30vw;
	background: rgba(0, 0, 0, 0.45);
	padding: 20px;
	border-radius: 4px;
}

.hero-name {
	margin-bottom: 20px;
}

.hero-button {
	height: 50px;
	width: 100px;
	font-family: inherit;
	text-transform: uppercase;
}

@media (min-width: 900px) {
  .hero-big-info-container {
    right: 0;
    left: 0;
    top: 30px;
  }

  .hero-generate-another {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 30px;
  }
}